In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/My Drive/ZS/dataset/train_file.csv')

In [ ]:
test = pd.read_csv('/content/drive/My Drive/ZS/dataset/test_file.csv')

In [ ]:
data.PublishDate=pd.to_datetime(data.PublishDate)

In [ ]:
data.head().T

                                                                                                                                                 0  ...                                                                                                                                                                            4
IDLink                                                                                                                                  Tr3CMgRv1N  ...                                                                                                                                                                   wUbnxgvqaZ
Title                                                                                             Obama Lays Wreath at Arlington National Cemetery  ...                                                                                                                         Tourism, govt spending buoys Thai economy in January
Headline           Obama Lays Wreath at Arlington National Cemetery. President Barack Obama has laid a wreath at the Tomb of the Unknowns to honor  ...  Tourism and public spending continued to boost the economy in January, in light of contraction in private consumption and exports, according to the Bank of Thailand data.
Source                                                                                                                                   USA TODAY  ...                                                                                                                                     The Nation - Thailand&#39;s English news
Topic                                                                                                                                        obama  ...                                                                                                                                                                      economy
PublishDate                                                                                                                    2002-04-02 00:00:00  ...                                                                                                                                                          2015-03-01 00:11:00
Facebook                                                                                                                                        -1  ...                                                                                                                                                                           -1
GooglePlus                                                                                                                                      -1  ...                                                                                                                                                                           -1
LinkedIn                                                                                                                                        -1  ...                                                                                                                                                                           -1
SentimentTitle                                                                                                                                   0  ...                                                                                                                                                                            0
SentimentHeadline                                                                                                                       -0.0533002  ...                                                                                                                                                                     0.141084

[11 rows x 5 columns]

In [ ]:
data.dtypes

IDLink                       object
Title                        object
Headline                     object
Source                       object
Topic                        object
PublishDate          datetime64[ns]
Facebook                      int64
GooglePlus                    int64
LinkedIn                      int64
SentimentTitle              float64
SentimentHeadline           float64
dtype: object

In [ ]:
X = data.drop(['IDLink','Title','Headline','SentimentTitle','SentimentHeadline'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,title_train,title_test,headline_train,headline_test=train_test_split(X,data['SentimentTitle'],data.SentimentHeadline,random_state=42)

In [ ]:
print(X_train.shape,X_test.shape,title_train.shape,title_test.shape,headline_train.shape,headline_test.shape)

(41949, 6) (13983, 6) (41949,) (13983,) (41949,) (13983,)

In [ ]:
X_train.drop('Source',axis=1,inplace=True)
X_test.drop('Source',axis=1,inplace=True)

In [ ]:

X_train.Topic = X_train.Topic.map({'microsoft':1,'obama':2,'palestine':3,'economy':4})
X_test.Topic = X_test.Topic.map({'microsoft':1,'obama':2,'palestine':3,'economy':4})

In [ ]:
X_train.head()

       Topic         PublishDate  Facebook  GooglePlus  LinkedIn
52969      1 2016-03-21 05:40:49        21           3        21
51408      2 2016-03-16 11:52:06      1898           5         4
14543      3 2015-12-15 12:04:46         0           0         0
3277       1 2015-11-17 16:14:14         7          10         2
30765      2 2016-01-25 14:35:00        87           0         0

In [ ]:
X_train['day']=X_train.PublishDate.dt.dayofweek
X_test['day']=X_test.PublishDate.dt.dayofweek

In [ ]:
X_train.drop('PublishDate',axis=1,inplace=True)
X_test.drop('PublishDate',axis=1,inplace=True)

In [ ]:
from sklearn.ensemble import RandomForestRegressor 
RF = RandomForestRegressor()
RF.fit(X_train,title_train)
print(RF.score(X_train,title_train))
print(RF.score(X_test,title_test))

0.416874695226873
-0.09767921487552078

In [ ]:
data.describe()

           Facebook    GooglePlus  ...  SentimentTitle  SentimentHeadline
count  55932.000000  55932.000000  ...    55932.000000       55932.000000
mean     132.050329      4.551616  ...       -0.006318          -0.029577
std      722.931314     21.137177  ...        0.137569           0.143038
min       -1.000000     -1.000000  ...       -0.838525          -0.755355
25%        0.000000      0.000000  ...       -0.079057          -0.116927
50%        6.000000      0.000000  ...        0.000000          -0.027277
75%       37.000000      2.000000  ...        0.063969           0.057354
max    49211.000000   1267.000000  ...        0.962354           0.964646

[8 rows x 5 columns]

In [ ]:
data.head().T

                                                                                                                                                 0  ...                                                                                                                                                                            4
IDLink                                                                                                                                  Tr3CMgRv1N  ...                                                                                                                                                                   wUbnxgvqaZ
Title                                                                                             Obama Lays Wreath at Arlington National Cemetery  ...                                                                                                                         Tourism, govt spending buoys Thai economy in January
Headline           Obama Lays Wreath at Arlington National Cemetery. President Barack Obama has laid a wreath at the Tomb of the Unknowns to honor  ...  Tourism and public spending continued to boost the economy in January, in light of contraction in private consumption and exports, according to the Bank of Thailand data.
Source                                                                                                                                   USA TODAY  ...                                                                                                                                     The Nation - Thailand&#39;s English news
Topic                                                                                                                                        obama  ...                                                                                                                                                                      economy
PublishDate                                                                                                                    2002-04-02 00:00:00  ...                                                                                                                                                          2015-03-01 00:11:00
Facebook                                                                                                                                        -1  ...                                                                                                                                                                           -1
GooglePlus                                                                                                                                      -1  ...                                                                                                                                                                           -1
LinkedIn                                                                                                                                        -1  ...                                                                                                                                                                           -1
SentimentTitle                                                                                                                                   0  ...                                                                                                                                                                            0
SentimentHeadline                                                                                                                       -0.0533002  ...                                                                                                                                                                     0.141084

[11 rows x 5 columns]

In [ ]:
import re     
import nltk

In [ ]:
data.shape

(55932, 11)

In [ ]:
test.shape

(37288, 9)

In [ ]:
TrainTest = data.append(test, ignore_index=True, sort=True)
TrainTest.shape

(93220, 11)

In [ ]:
TrainTest['clean'] = TrainTest.Headline.str.replace("[^a-zA-Z]", " ")
TrainTest.clean = TrainTest.clean.apply(lambda x: ' '.join([w for w in x.split() if len(w) > 3]))

In [ ]:
TrainTest['tclean'] = TrainTest.Title.str.replace("[^a-zA-Z]", " ")
TrainTest.tclean = TrainTest.tclean.apply(lambda x: ' '.join([w for w in x.split() if len(w) > 3]))

In [ ]:
TrainTest.head().T

                                                                                                                                                 0  ...                                                                                                                                                                            4
Facebook                                                                                                                                        -1  ...                                                                                                                                                                           -1
GooglePlus                                                                                                                                      -1  ...                                                                                                                                                                           -1
Headline           Obama Lays Wreath at Arlington National Cemetery. President Barack Obama has laid a wreath at the Tomb of the Unknowns to honor  ...  Tourism and public spending continued to boost the economy in January, in light of contraction in private consumption and exports, according to the Bank of Thailand data.
IDLink                                                                                                                                  Tr3CMgRv1N  ...                                                                                                                                                                   wUbnxgvqaZ
LinkedIn                                                                                                                                        -1  ...                                                                                                                                                                           -1
PublishDate                                                                                                                    2002-04-02 00:00:00  ...                                                                                                                                                          2015-03-01 00:11:00
SentimentHeadline                                                                                                                       -0.0533002  ...                                                                                                                                                                     0.141084
SentimentTitle                                                                                                                                   0  ...                                                                                                                                                                            0
Source                                                                                                                                   USA TODAY  ...                                                                                                                                     The Nation - Thailand&#39;s English news
Title                                                                                             Obama Lays Wreath at Arlington National Cemetery  ...                                                                                                                         Tourism, govt spending buoys Thai economy in January
Topic                                                                                                                                        obama  ...                                                                                                                                                                      economy
clean                                         Obama Lays Wreath Arlington National Cemetery President Barack Obama laid wreath Tomb Unknowns honor  ...                                           Tourism public spending continued boost economy January light contraction private consumption exports according Bank Thailand data
tclean                                                                                               Obama Lays Wreath Arlington National Cemetery  ...                                                                                                                             Tourism govt spending buoys Thai economy January

[13 rows x 5 columns]

In [ ]:
tokenized_text = TrainTest.clean.apply(lambda x: x.split())
tokenized_text.head()

0                                                                 [Obama, Lays, Wreath, Arlington, National, Cemetery, President, Barack, Obama, laid, wreath, Tomb, Unknowns, honor]
1                                                                 [Haywood, investment, director, business, unit, head, fixed, income, discusses, China, beige, book, state, economy]
2                                                            [Nouriel, Roubini, professor, chairman, Roubini, Global, Economics, explains, global, economy, facing, same, conditions]
3    [Finland, economy, expanded, marginally, three, months, ended, December, after, contracting, previous, quarter, preliminary, figures, from, Statistics, Finland, showed, Monday]
4                                 [Tourism, public, spending, continued, boost, economy, January, light, contraction, private, consumption, exports, according, Bank, Thailand, data]
Name: clean, dtype: object

In [ ]:
ttokenized_text = TrainTest.tclean.apply(lambda x: x.split())
ttokenized_text.head()

0        [Obama, Lays, Wreath, Arlington, National, Cemetery]
1                            [Look, Health, Chinese, Economy]
2                   [Nouriel, Roubini, Global, Economy, Back]
3                                          [Finland, Expands]
4    [Tourism, govt, spending, buoys, Thai, economy, January]
Name: tclean, dtype: object

In [ ]:
from nltk.stem.porter import * 
stemmer = PorterStemmer() 
tokenized_text = tokenized_text.apply(lambda x: [stemmer.stem(i) for i in x]) 
ttokenized_text = ttokenized_text.apply(lambda x: [stemmer.stem(i) for i in x])

In [ ]:

for i in range(len(tokenized_text)):
    tokenized_text[i] = ' '.join(tokenized_text[i])    
TrainTest['clean'] = tokenized_text

for i in range(len(ttokenized_text)):
    ttokenized_text[i] = ' '.join(ttokenized_text[i])    
TrainTest['tclean'] = ttokenized_text

In [ ]:
TrainTest.head().T

                                                                                                                                                 0  ...                                                                                                                                                                            4
Facebook                                                                                                                                        -1  ...                                                                                                                                                                           -1
GooglePlus                                                                                                                                      -1  ...                                                                                                                                                                           -1
Headline           Obama Lays Wreath at Arlington National Cemetery. President Barack Obama has laid a wreath at the Tomb of the Unknowns to honor  ...  Tourism and public spending continued to boost the economy in January, in light of contraction in private consumption and exports, according to the Bank of Thailand data.
IDLink                                                                                                                                  Tr3CMgRv1N  ...                                                                                                                                                                   wUbnxgvqaZ
LinkedIn                                                                                                                                        -1  ...                                                                                                                                                                           -1
PublishDate                                                                                                                    2002-04-02 00:00:00  ...                                                                                                                                                          2015-03-01 00:11:00
SentimentHeadline                                                                                                                       -0.0533002  ...                                                                                                                                                                     0.141084
SentimentTitle                                                                                                                                   0  ...                                                                                                                                                                            0
Source                                                                                                                                   USA TODAY  ...                                                                                                                                     The Nation - Thailand&#39;s English news
Title                                                                                             Obama Lays Wreath at Arlington National Cemetery  ...                                                                                                                         Tourism, govt spending buoys Thai economy in January
Topic                                                                                                                                        obama  ...                                                                                                                                                                      economy
clean                                                obama lay wreath arlington nation cemeteri presid barack obama laid wreath tomb unknown honor  ...                                                           tourism public spend continu boost economi januari light contract privat consumpt export accord bank thailand data
tclean                                                                                                  obama lay wreath arlington nation cemeteri  ...                                                                                                                                 tourism govt spend buoy thai economi januari

[13 rows x 5 columns]

In [ ]:
tokenized_text = TrainTest['clean'].apply(lambda x: x.split())

model_w2v = gensim.models.Word2Vec(
            tokenized_text,
            size=75,
            window=5, 
            min_count=2,                                   
            sg = 1,
            hs = 0,
            negative = 10, 
            workers= 32,
            seed = 34
) 

model_w2v.train(tokenized_text, total_examples= len(TrainTest['clean']), epochs=20)

(28419671, 31801740)

In [ ]:
ttokenized_text = TrainTest['tclean'].apply(lambda x: x.split())

tmodel_w2v = gensim.models.Word2Vec(
            ttokenized_text,
            size=200,
            window=5, 
            min_count=2,                                   
            sg = 1,
            hs = 0,
            negative = 10, 
            workers= 32,
            seed = 34
) 

tmodel_w2v.train(ttokenized_text, total_examples= len(TrainTest['tclean']), epochs=20)

(10178048, 11881020)

In [ ]:
def word_vector(tokens, size):
    vec = np.zeros(size).reshape((1, size))
    count = 0
    for word in tokens:
        try:
            vec += model_w2v[word].reshape((1, size))
            count += 1.
        except KeyError: 
            continue
    if count != 0:
        vec /= count
    return vec

In [ ]:
def tword_vector(tokens, size):
    vec = np.zeros(size).reshape((1, size))
    count = 0
    for word in tokens:
        try:
            vec += tmodel_w2v[word].reshape((1, size))
            count += 1.
        except KeyError: 
            continue
    if count != 0:
        vec /= count
    return vec

In [ ]:
wordvec_arrays = np.zeros((len(tokenized_text), 75)) 
for i in range(len(tokenized_text)):
    wordvec_arrays[i,:] = word_vector(tokenized_text[i], 75)
wordvec_df = pd.DataFrame(wordvec_arrays)
wordvec_df.shape

(93220, 75)

In [ ]:
twordvec_arrays = np.zeros((len(ttokenized_text), 200)) 
for i in range(len(ttokenized_text)):
    twordvec_arrays[i,:] = tword_vector(ttokenized_text[i], 200)
twordvec_df = pd.DataFrame(twordvec_arrays)
twordvec_df.shape

(93220, 200)

In [ ]:
train_w2v = wordvec_df.iloc[:55932,:]
test_w2v = wordvec_df.iloc[55932:,:]

In [ ]:
ttrain_w2v = twordvec_df.iloc[:55932,:]
ttest_w2v = twordvec_df.iloc[55932:,:]

In [ ]:
print(train_w2v.shape,data.shape)

(55932, 75) (55932, 11)

In [ ]:
RF.fit(train_w2v,data['SentimentHeadline'])

KeyboardInterrupt: ignored

In [ ]:
RF.score(train_w2v,data['SentimentHeadline'])

In [ ]:
tRF=RandomForestRegressor()

In [ ]:
tRF.fit(ttrain_w2v,data['SentimentTopic'])

In [ ]:
tRF.score(ttrain_w2v,data['SentimentTopic'])

In [ ]:
sub.head().T

In [ ]:
sub['SentimentHeadline'] = RF.predict(test_w2v)

In [ ]:
sub['SentimentTitle'] = tRF.predict(ttest_w2v)

In [ ]:
sub.drop(['Title','Headline','Source','Topic','PublishDate','Facebook','GooglePlus','LinkedIn'],axis=1,inplace=True)

In [ ]:
sub.head().T

In [ ]:
sub.to_csv('sub.csv',index=False)